<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kc.terraneo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Client"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <GridView xmlns:android="http://schemas.android.com/apk/res/android"
            android:id="@+id/gridview"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:padding="0dp"
            android:verticalSpacing="0dp"
            android:horizontalSpacing="0dp"
            android:numColumns="4"
            android:columnWidth="0dp"
            android:stretchMode="columnWidth"
            android:gravity="top"
            />

        <activity
            android:name=".GameWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_window"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".StartMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>